.footer{
  padding: 60px 0 40px;
  background: #3035C3;
  &__nav-top{
    display: flex;
    justify-content: space-between;
  }
  &__logo-box{}
  &__logo{
    margin-bottom: 24px;
  }
  &__logo-text{
    @include text($lato,normal,normal,12px,150%);
    color: #FFFFFF;
    margin-bottom: 24px;
  }
  &__logo-description{
    @include text($lato,normal,normal,12px,150%);
    color: #FFFFFF;
  }
  &__menu{}
  &__info-list{}
  &__list-item{
  }
  &__link{
    @include text($montserrat,normal,bold,14px,17px);
    color: #FFFFFF;
    display: block;
    margin-bottom: 24px;
    &:hover{
      color: #E6514A;
    }
  }
  &__contact{}
  &__contact-list{
    @include text($montserrat,normal,normal,14px,17px);
    color: #FFFFFF;
    margin-bottom: 24px;
    &_big{
      @include text($montserrat,normal,normal,14px,17px);
      margin-bottom: 12px;
    }
  }
  &__contact-link{
    @include text($montserrat,normal,normal,14px,17px);
    color: #FFFFFF;
  }
  &__numbers{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
  &__numbers-tel{
    @include text($montserrat,normal,normal,14px,17px);
    color: #FFFFFF;
    }
  &__numbers-icon{
    color: #E6514A;
    &_green{
      color: #4CAF50;
    }
  }

  &__line{
    width: 100%;
    height: 1px;
    background: #FFFFFF50;
    margin-top: 52px;
  }

  &__nav-bottom{
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
  }
  &__text{
    display:flex ;
    column-gap: 24px;
  }
  &__description{
    @include text($montserrat,normal,normal,14px,17px);
    color: #FFFFFF;
    position: relative;
    cursor: pointer;
    &::after{
      content: '';
      position: absolute;
      left:0;
      bottom: -2px;
      width: 0;
      height: 1px;
      background-color: #FFFFFF;
      transition: 0.6s;

    }
    &:hover::after{
      width: 100%;
    }
  }
  &__icons{
    display: flex;
    column-gap: 20px;
  }
  &__social{
    color: #FFFFFF;
    &:hover{
      color: #E6514A;
    }
  }
}







