.question{
  width: 100%;
  background-repeat:no-repeat;
  padding: 100px 0;
  position: relative;
  &__img{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -2
  }
  &__content{
    display: flex;
    justify-content: space-between;
  }
  &__title{
    @include text($montserrat,normal,800px,48px,130%);
    color: #FFFFFF;
    margin-bottom: 28px;
  }
  &__subtitle{
    @include text($lato,normal,normal,16px,150%);
    color: #FFFFFF;

  }
  &__btn{
    @include btn(247px,52px,$bg-color,30px);
    @include text($montserrat,normal,bold,16px,20px);
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    margin-top: 74px ;
    transition: .3s;
    &:hover{
      background: $bg-hover;
    }

  }
}