$roboto:Roboto,sans-serif;
$montserrat:Montserrat,sans-serif;
$lato:Lato,sana-serif;


@mixin text($ff,$fs,$fw,$fz,$lh){
  font-family: $ff;
  font-style: $fs;
  font-weight: $fw;
  font-size: $fz;
  line-height: $lh;
}